<style>
        .content1{
            position: relative;
            left: 30px;
            bottom:85px;
        }
    </style>
    <!-- CONTENIDO -->
    <div class="container my-5">

    <!-- PRIMER BLOQUE -->
    <div class="row align-items-center py-5 border-top border-bottom">

    <!-- Texto -->
    <div class="content1 col-md-7">
        <h2 class="fw-bold text-nowrap">
            This First Heading <span class="text-muted">Will Catch Your Eye</span>
        </h2>
        <p class="text-secondary">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
            porta felis euismod semper. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>

    <!-- Imagen -->
    <div class="col-md-5 text-center">
        <img
            src="1.jpg"
            class="img1 rounded-circle img-fluid"
            alt="Profile"
            style="width: 250px; height: 300px; object-fit: cover;">
    </div>
</div>