<!-- your html code here -->
<div class="row d-flex align-items-center py-5" style="background-color: white;">
    <div class="col-3">
        <img src="assets/img/2.jpg" alt="typing" style="border-radius: 999px;" width="100%">
    </div>
    <div class="col-9">
        <h2>The second heading is pretty cool too.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>